
<div class="row">
  <% @posts.each do |post|%>
    <div class="col-md-3">
      <div class="post-list-area">

      <div class="row">
        <div class="col-md-6 text-left">
          <p><%= post.user.icon.url.nil? ? image_tag("default.png" ,class:"post-icon")  : image_tag(post.user.icon.url,class:"post-icon") %>
          投稿者：<%= post.user.name %></p>
        </div>
        <div class="col-md-6 text-right">
          <% if current_user.id != post.user.id %>
            <% @favorite = current_user.favorites.find_by(post_id: post.id)%>
            <% if @favorite.present?%>
              <%= link_to image_tag('like.png' , width:'20' , class:"icon") , favorite_path(id: @favorite.id) , method: :delete , data:{confirm: "解除してもよろしいですか？"} %>
            <% else %>
              <%= link_to image_tag('unlike.png' , width:'20' , class:"icon") , favorites_path(post_id: post.id) , method: :post%>
            <% end %>
          <% end %>
        </div>
      </div>
        <div class="text-center"><%= link_to image_tag(post.picture.url , width:'80%'), post_path(post.id) %></div>
      </div>
    </div>
    <% end %>